
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>Tasks</title>
</head>
<body>
    

    <h1>TASKS:</h1>

    <form method="POST" action="/">
        {% csrf_token %}
        {{Taskform.title}}
        <input class="btn" type="submit" name="Create task">
    </form>

    <ul class="task-list">
        {% for goal in tasks %}
            <li>
                <div class="task-content">
                    <input type="checkbox" {% if goal.completed %}checked{% endif %}>
                    <p>{{ goal }}</p>
                </div>
                <div>
                    <a href="{% url 'update' goal.id %}"><i class="fas fa-edit"></i></a>
                    <a href="{% url 'delete' goal.id %}"><i class="fas fa-trash-alt"></i></a>
                </div>
            </li>
        {% endfor %}
    </ul>

    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
</body>
</html>
